.App{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo{
font-size: 1.6rem;
display: flex;
justify-content: space-between;
margin-top: 1rem;
}
.container{
  border: 1px solid grey;
  padding: 1rem;
}
input{
border: none;
padding: 1rem;
border: 1px solid rgb(64, 64, 187);
font-size: 1.2rem;
margin-bottom: 1rem;
}
.todos{
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 1rem;
}
.last{
  margin-left: 1rem;
}
.finish{
  color: rgb(44, 173, 44);
}
.delete{
  color: rgb(202, 68, 68);
}

.delete:hover{
  color: rgb(206, 24, 24);
}

.finish:hover{
  color: rgb(17, 148, 17);
}

.icon-button{
  font-size: 1.4rem;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.icon-button:focus{
  outline: none;
}